.row
  .three.columns
    %img{:src => provider.image_url, :style => "margin-top:18px;"}/
  .three.columns
    %a.button.extend{:href => "http://"+provider.url, :style => "margin-top:10px;"} Öffnen
  .six.columns
    %table{:bgcolor => "#", :cellpadding => "0", :cellspacing => "0", :width => "133"}
      %tr
        %td
          =form_tag do
            = radio_button_tag :value, 1, false, :class => "star required"
            = radio_button_tag :value, 2, false, :class => "star"
            = radio_button_tag :value, 3, false, :class => "star"
            = radio_button_tag :value, 4, false, :class => "star"
            = radio_button_tag :value, 5, false, :class => "star"