-active = Array.new(5,false)
-# Activate the right star 
-if @current_rating and @current_rating.where(:provider_id => provider.id).last
  -active[@current_rating.where(:provider_id => provider.id).last.value - 1] = "true"

.row
  .three.columns
    %img{:src => provider.image_url, :style => "margin-top:18px;"}/
  .three.columns
    %a.button.extend{:href => provider.url, :style => "margin-top:10px;"} Öffnen
  .six.columns
    %table{:bgcolor => "#", :cellpadding => "0", :cellspacing => "0", :width => "133"}
      %tr
        %td
          =form_tag provider_add_rating_path(provider), :method => :put do
            = radio_button_tag :value, 1, active[0], :class => "star required auto-submit-star"
            = radio_button_tag :value, 2, active[1], :class => "star auto-submit-star"
            = radio_button_tag :value, 3, active[2], :class => "star auto-submit-star"
            = radio_button_tag :value, 4, active[3], :class => "star auto-submit-star"
            = radio_button_tag :value, 5, active[4], :class => "star auto-submit-star"