.row.advertisment{:id => advertisment.id}
  .five.columns
    %p
      -if advertisment.active
        %a{:href => advertisment.link_url}
          %img{:src => advertisment.img_url}/
      -else
        %a{:href => activate_advertisment_path(advertisment)}
          %img{:src => advertisment.img_url}/

  .seven.columns
    = simple_form_for(advertisment, remote: true) do |f|
      = f.error_notification

      .form-inputs
        = f.input :img_url
        = f.input :link_url

      .form-actions
        .row
          = f.button :submit, :class => "seven columns" 
          = link_to 'löschen', advertisment, :class => "button four columns", :method => :delete, :remote => true, :data => { :confirm => 'Sind sie sich sicher?' }
          -unless advertisment.active
            = link_to 'aktivieren', activate_advertisment_path(advertisment), :class => :button
