.row.advertisment{:id => advertisment.id}
  .five.columns
    %p
      -if advertisment.active
        %img{:src => advertisment.img_url}/
      -else
        = link_to image_tag(advertisment.img_url), activate_advertisment_path(advertisment), :remote => true

  .seven.columns
    = simple_form_for(advertisment, remote: true) do |f|
      = f.error_notification

      .form-inputs
        = f.input :img_url
        = f.input :link_url

      .form-actions
        .row
          = f.button :submit, :class => "seven columns" 
          = link_to (t "advertisment.delete"), advertisment, :class => "button four columns", :method => :delete, :remote => true, :data => { :confirm => (t "advertisment.confirm_text") }
