%p#notice= notice

%p
  %b Img url:
  = @advertisment.img_url
%p
  %b Link url:
  = @advertisment.link_url
%p
  %b Active:
  = @advertisment.active

= link_to 'Edit', edit_advertisment_path(@advertisment)
\|
= link_to 'Back', advertisments_path
