%li
  .title
    .row
      .ten.columns
        %h5
          =article.name
        %small
          EAN:
          =article.ean
      .two.columns
        %span.label
          =article.article_type
  .content
    .row
      .four.columns
        %img{:src => article.images.first.url}/
      -if search #view in search!
        .four.columns.offset-by-one
          %p
            =article.description
        .two.columns.offset-by-one
          =link_to (t "general.add_text"), add_article_path(cart_id: @active_cart.id, article_id: article.id), remote: true, class: 'button'
      -else #view in cart

        -active = Array.new(5,false)
        -# Activate the right star
        -if @current_rating and @current_rating.where(:rateable_id => article.id).last
          -active[@current_rating.where(:rateable_id => article.id).last.value - 1] = true

        .seven.columns.offset-by-one
          %p
            =article.description
            %br
          .row
            .six.columns
              .row
                .four.columns
                  =link_to '-', remove_article_path(cart_id: @active_cart.id, article_id: article.id), remote: true, class: 'button'
                .four.columns{:style => "font-size: 40px; vertical-align: middle; text-align: center; padding-top: 8px"}
                  = @active_cart.get_count(article)
                .four.columns
                  =link_to '+', add_article_path(cart_id: @active_cart.id, article_id: article.id), remote: true, class: 'button'
            .five.columns.offset-by-one
              -if has_permission?("create_rating")
                %table{:bgcolor => "#", :cellpadding => "0", :cellspacing => "0", :width => "200"}
                  %tr
                    %td
                      =form_tag article_add_rating_path(article), :method => :put do
                        = radio_button_tag :value, 1, active[0], :class => "star required auto-submit-star"
                        = radio_button_tag :value, 2, active[1], :class => "star auto-submit-star"
                        = radio_button_tag :value, 3, active[2], :class => "star auto-submit-star"
                        = radio_button_tag :value, 4, active[3], :class => "star auto-submit-star"
                        = radio_button_tag :value, 5, active[4], :class => "star auto-submit-star"
                      = t "general.average_rating_text" 
                      = article.average_rating
                      
    %hr
    -if has_permission?("create_comment")
      .row
        .six.columns.offset-by-one
          -article.comments.each do |comment|
            .row
              .eight.columns
                %h7
                  Kommentar:
              .four.columns
                =comment.user.email
              %hr
            .row
              =comment.value
        .four.columns
          .row
            .ten.columns
              %h7
                = t "articles.new_comment"
            %hr
          .row
          =form_tag article_add_comment_path(article), remote: true, :method => :put do
            = text_field_tag :value
            = button_tag (t "general.send_text")

