%li
  .title
    %h5
      =article.name
    %small
      ISBN-13:
      =article.ean
  .content
    .row
      .four.columns
        %img{:src => article.images.first.url}/
      -if search #view in search!
        .four.columns.offset-by-one
          %p
            =article.description
        .two.columns.offset-by-one
          =link_to 'add', add_article_path(cart_id: @active_cart.id, article_id: article.id), remote: true, class: 'button'
      -else #view in cart
        .seven.columns.offset-by-one
          %p
            =article.description
            %br
            %h1
              = @active_cart.get_count(article)
          .row
            .six.columns
              =link_to 'remove', remove_article_path(cart_id: @active_cart.id, article_id: article.id), remote: true, class: 'button'
            .five.columns.offset-by-one
              =form_tag do
                = radio_button_tag :value, 1, false, :class => "star required"
                = radio_button_tag :value, 2, false, :class => "star"
                = radio_button_tag :value, 3, false, :class => "star"
                = radio_button_tag :value, 4, false, :class => "star"
                = radio_button_tag :value, 5, false, :class => "star"

