%li
  .title
    %h5
      =article.name
    %small
      ISBN-13:
      =article.ean
  .content
    .row
      .four.columns
        %img{:src => article.images.first.url}/
      -if search #view in search!
        .four.columns.offset-by-one
          %p
            =article.description
        .two.columns.offset-by-one
          =link_to 'add', add_article_path(cart_id: @active_cart.id, article_id: article.id), remote: true, class: 'button'
      -else #view in cart

        -active = Array.new(5,false)
        -# Activate the right star 
        -if @current_rating and @current_rating.where(:rateable_id => article.id).last
          -active[@current_rating.where(:rateable_id => article.id).last.value - 1] = true

        .seven.columns.offset-by-one
          %p
            =article.description
            .row
              .three.columns
                =link_to 'remove one', remove_article_path(cart_id: @active_cart.id, article_id: article.id), remote: true, class: 'button'
              .two.columns
                %h2
                  = @active_cart.get_count(article)
              .three.columns
                =link_to 'add one', add_article_path(cart_id: @active_cart.id, article_id: article.id), remote: true, class: 'button'
              .four.columns
          .row
            .six.columns
            .five.columns.offset-by-one
              %table{:bgcolor => "#", :cellpadding => "0", :cellspacing => "0", :width => "200"}
                %tr
                  %td
                    =form_tag article_add_rating_path(article), :method => :put do
                      = radio_button_tag :value, 1, active[0], :class => "star required auto-submit-star"
                      = radio_button_tag :value, 2, active[1], :class => "star auto-submit-star"
                      = radio_button_tag :value, 3, active[2], :class => "star auto-submit-star"
                      = radio_button_tag :value, 4, active[3], :class => "star auto-submit-star"
                      = radio_button_tag :value, 5, active[4], :class => "star auto-submit-star"
                    Durchschnittliche Bewertung:
                    = article.average_rating
                    Sterne
    .row
      .seven.columns
        -article.comments.each do |comment|
          .row
            .eight.columns
              %h7
                Kommentar:
            .four.columns
              =comment.user.email
            %hr
          .row
            =comment.value
      .four.columns
        .row
          .eight.columns
            %h7
              Neuer Kommentar:
          %hr
        .row        
        =form_tag article_add_comment_path(article), remote: true, :method => :put do
          = text_field_tag :value
          = button_tag
