%h1 Listing articles

%table
  %tr
    %th Name
    %th Ean
    %th Description
    %th
    %th
    %th

  - @articles.each do |article|
    %tr
      %td= article.name
      %td= article.ean
      %td= article.description
      %td= link_to (t "general.show_text"), article
      %td= link_to (t "general.edit_text"), edit_article_path(article)
      %td= link_to (t "general.delete_text"), article, :method => :delete, :data => { :confirm => (t "general.confirm_text") }

%br

= link_to (t "articles.new_article"), new_article_path
