%p#notice= notice

%p
  %b Name:
  = @article.name
%p
  %b Ean:
  = @article.ean
%p
  %b Description:
  = @article.description

= link_to (t "general.edit_text"), edit_article_path(@article)
\|
= link_to (t "general.back_text"), articles_path
