.title
  %h5
    = t "general.provider_text"
.content
  %ul{:style => "list-style-type: none;"}
    -@providers.each do |provider|
      %li{:style => "padding-bottom: 20px;"}
        -if provider.active
          = simple_form_for(provider, remote: true) do |f|
            = f.error_notification
            .form-inputs
              = f.hidden_field :active, value: false
            .form-actions
              = f.button :submit, provider.display_name + " " + (t "home.deactivate")

        - else
          = simple_form_for(provider, remote: true) do |f|
            = f.error_notification
            .form-inputs
              = f.hidden_field :active, value: true
            .form-actions
              = f.button :submit, provider.display_name + " "+ (t "home.activate")

    %li{:style => "padding-bottom: 20px;"}
      =form_tag(add_provider_path, remote: true)
      =text_field_tag :name
      =submit_tag "Anfrage für den neuen Provider abschicken", class: "button"
