.title
  =%h5 (t "general.user_text")
.content
  .row
    .five.columns
      %ul
        - @users.each do |user|

          -# generate Table entry
          %li.user{:id => user.id}
            - if user.active
              %span.success.label
                %a{"data-reveal-id" => "user-delete-modal"+user.id.to_s, :style => "color: white; cursor: pointer;"}
                  = user.email
            - else
              %span.alert.label
                %a{"data-reveal-id" => "user-delete-modal"+user.id.to_s, :style => "color: white; cursor: pointer;"}
                  = user.email



            -# generate Modals
            - content_for :modal do
              .reveal-modal.medium{:id => "user-delete-modal"+user.id.to_s}
                %h3
                  = (t "home.manage_user")
                  %small
                    =user.email
                .row

                  -# Delete button
                  .three.columns
                    =link_to (t "delete_user"), user, :method => :delete, :remote => true, :data => { :confirm => (t "general.confirm_text") }, :class => "button"
                    .one.columns

                  -# Lock button
                  .three.columns
                    = simple_form_for(user, remote: false) do |f|
                      = f.error_notification
                      -if user.active
                        .form-inputs
                          = f.hidden_field :active, value: false
                        .form-actions
                          = f.button :submit, (t "home.lock_text"), :class => "button"
                      -else
                        .form-inputs
                          = f.hidden_field :active, value: true
                        .form-actions
                          = f.button :submit, (t "home.unlock_text"), :class => "button"

                    .one.columns

                  -# Make Admin button
                  .three.columns
                    =link_to_if(user.admin?, (t "home.delete_admin_role"), user_change_role_path(user), remote: true, class: "button") do
                      =link_to((t "home.add_admin_role"), user_change_role_path(user), remote: true, class: "button")

                %a.close-reveal-modal ×

    -# Status index
    .three.columns.offset-by-two
      %p
        %span.success.label Online
        %br/
        %span.secondary.label Offline
        %br/
        %span.alert.label
          gesperrt
