.div{:id => "update-form"}
  %p
    = simple_form_for(@active_user, remote: true) do |f|
      = f.error_notification

      .form-inputs
        = f.input :email
        = f.input :password
        = f.input :password_confirmation

      .form-actions
        = f.button :submit