.div{:id => "update-form"}
  %p
    = cookies[:registered]
  - if cookies[:registered]
    = simple_form_for(@active_user, remote: true) do |f|
      = f.error_notification

      .form-inputs
        = f.input :email
        = f.input :password
        = f.input :password_confirmation

      .form-actions
        = f.button :submit

      %a{href: new_password_reset_path}Reset Password.div{:id => "update-form"}
  - else
    %p
      = t "successful_register"