-content_for :head do 
  %h3 Admin Dashboard

%ul.accordion
  %li.active
    = render :partial => "home/admin/user"
  %li
    = render :partial => "home/admin/provider"
  %li
    .title
      %h5 Werbung
    .content#active-ad
      %h6 Aktiv
      %hr
        
        = render @active_advertisments

      %h6 Inactive
      %hr

        = render @inactive_advertisments
      .row
        .six.columns.centered
          %a.button.expand{"data-reveal-id" => "add-advertisment-modal", :href => "#"} Werbung hinzufügen 
  %li
    = render :partial => "home/admin/statistic" 
- content_for :modal do 
  = render :partial => "home/admin/add_advertisment"
