-content_for :head do
  %h3 Admin Dashboard

%ul.accordion
  -if has_permission?("lock_user")
    %li.active
      = render :partial => "home/admin/user"

  -if has_permission?("enable_provider")
    %li#provider
      = render :partial => "home/admin/provider"

  -if has_permission?("modify_ad")
    %li
      .title
        = %h5 (t "general.advertisment")
      .content
        = %h6 (t "general.aktiv")
        %hr
        #active-ad
        
          = render @active_advertisments

        %h6 Inactive
        %hr
        #ad-list

          = render @inactive_advertisments
        .row
          .six.columns.centered
            = %a.button.expand{"data-reveal-id" => "add-advertisment-modal", :href => "#"} (t "home.add_advertisment") 
    - content_for :modal do 
      = render :partial => "home/admin/add_advertisment"

  -if has_permission?("view_statistic")
    %li#statistics
      = render :partial => "home/admin/statistic"
    = render "home/admin/statistic_chart"
