- content_for :head do 
  = render :partial => "shared/search_head"

%h3{:style => "margin-bottom: 19px;"}
  Suchergebnisse:
  %small "The Hitchhiker’s Guide to the Galaxy"
%ul.accordion

  =render @result, search: true

- content_for :modal do 
  = render :partial => "shared/modal/add_comment" 
  = render :partial => "shared/modal/cart"
  = render :partial => "shared/modal/switch_cart" 
  = render :partial => "shared/modal/compare_cart" 
  = render :partial => "shared/modal/rate_providers" 
