- content_for :head do
  = render :partial => "shared/search_head"

- content_for :title do
  = t "home.search_result"+@term.humanize

%h3{:style => "margin-bottom: 19px;"}
  Suchergebnisse:
  %small
  	= @term.humanize
%ul.accordion

  =render @result, search: true

- content_for :modal do
  = render :partial => "shared/modal/cart"
  = render :partial => "shared/modal/switch_cart"
  = render :partial => "shared/modal/compare_cart"
