!!!
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class="ie6" lang="en">
/[if IE 7 ] <html class="ie7" lang="en">
/[if IE 8 ] <html class="ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html{:lang => "de", :class => "js no-touch svg inlinessvg svgclippaths no-ie8compat"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    / Uncomment to make IE8 render like IE7
    / <meta http-equiv="X-UA-Compatible" content="IE=7" />
    / Set the viewport width to device width for mobile
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Untitled"
    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/custom.modernizr"
    = csrf_meta_tags
  %body{:style => "zoom:1;"}
    - if logged_in?
      = render "layouts/navigation_logout"
    - else 
      = render "layouts/navigation_login"

    .row
      .three.columns
        %p
          %a.button.expand{"data-reveal-id" => "cart-modal", :href => "#", :style => "background-image: url(/assets/cart.png); background-repeat: no-repeat; height: 38px; background-position: 84px 7px;"}
        - if notice
          %p
            .alert-box.success
              =notice
              %a.close{href: "#"} &times;
        %p
          %img{:src => "http://placehold.it/205x720&text=Werbung"}/    
    
      .nine.columns
        = yield

    = yield :modal

    -if logged_in?
      = render :partial => "shared/modal/edit_user"

    -else
      = render :partial => "shared/modal/register"
      = render :partial => "shared/modal/login"
      = render :partial => "shared/modal/forgot_password"

    = javascript_include_tag "application"